In [1]:
#Required imports for reading the file
import pandas as pd
import numpy as np

In [2]:
#Problem 1: Prediction of house prices
df1 = pd.read_excel("DS - Assignment Part 1 data set.xlsx")

In [3]:
df1.head()

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491,43.1

In [4]:
df1.shape

(414, 9)

## Dependent Variable: House price of unit area
## Type: Continuous
## Regression is required

In [5]:
#Correlation matrix
df1.corr()

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
Transaction date,1.000000,0.017542,0.060880,0.009544,0.035016,-0.041065,0.061985,0.068405,0.087529
House Age,0.017542,1.000000,0.025622,0.049593,0.054420,-0.048520,-0.008756,-0.060361,-0.210567
Distance from nearest Metro station (km),0.060880,0.025622,1.000000,-0.602519,-0.591067,-0.806317,-0.046856,0.001795,-0.673613
Number of convenience stores,0.009544,0.049593,-0.602519,1.000000,0.444143,0.449099,0.043638,0.033286,0.571005
latitude,0.035016,0.054420,-0.591067,0.444143,1.000000,0.412924,0.043921,0.031696,0.546307
longitude,-0.041065,-0.048520,-0.806317,0.449099,0.412924,1.000000,0.041680,0.009322,0.523287
Number of bedrooms,0.061985,-0.008756,-0.046856,0.043638,0.043921,0.041680,1.000000,0.752276,0.050265
House size (sqft),0.068405,-0.060361,0.001795,0.033286,0.031696,0.009322,0.752276,1.000000,0.046489
House price of unit area,0.087529,-0.210567,-0.673613,0.571005,0.546307,0.523287,0.050265,0.046489,1.000000

## House Age, Distance from metro, number of convenience store, lat, long are the most influencing factors on pricing.

In [6]:
#Split data into train and test
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df1.iloc[:,:-1].values,df1["House price of unit area"].values)

In [8]:
# Model 1: Linear regression
from sklearn.linear_model import LinearRegression

In [9]:
lr = LinearRegression()
lr = lr.fit(X_train,y_train)

In [10]:
#Evaluate
from sklearn.metrics import accuracy_score,r2_score

In [11]:
y_pred_lr = lr.predict(X_test)

In [12]:
print("R2 Score: ",r2_score(y_test,y_pred_lr))

R2 Score:  0.5838462227772598

## The model didn't perform well probably due to inter-correlation between independent variables

In [13]:
#SVM Regression: Uses kernel transformations to find the best fit
from sklearn.svm import SVR

In [14]:
svr = SVR(kernel="linear")
svr = svr.fit(X_train,y_train)

In [15]:
y_pred_svr = svr.predict(X_test)

In [16]:
print("R2 score: ",r2_score(y_test,y_pred_svr))

R2 score:  0.5446916497229466

## SVR doesn't perform well, the next model would randomforest regression, which is an ensemble model

In [17]:
from sklearn.ensemble import RandomForestRegressor

In [18]:
rf = RandomForestRegressor()
rf = rf.fit(X_train,y_train)

In [19]:
y_pred_rf = rf.predict(X_test)

In [20]:
print("R2 score: ",r2_score(y_test,y_pred_rf))

R2 score:  0.6668412765701041

# PART 2: PREDICTING SIMILAR TITLES

In [21]:
flipkart_df = pd.read_csv("DS - Assignment Part 2 data set/flipkart_com-ecommerce_sample.csv")

In [22]:
amazon_df = pd.read_csv("DS - Assignment Part 2 data set/amz_com-ecommerce_sample.csv",encoding="ISO-8859-1")

In [24]:
amazon_df.head()

,uniq_id,crawl_timestamp,product_url,product_name,product_category_tree,pid,retail_price,discounted_price,image,is_FK_Advantage_product,description,product_rating,overall_rating,brand,product_specifications
0,c2d766ca982eca8304150849735ffef9,2016-03-25 22:59:23 +0000,http://www.flipkart.com/alisha-solid-women-s-c...,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",SRTEH2FF9KEDEFGF,982,438,"[""http://img5a.flixcart.com/image/short/u/4/a/...",False,Key Features of Alisha Solid Women's Cycling S...,No rating available,No rating available,Alisha,"{""product_specification""=>[{""key""=>""Number of ..."
1,7f7036a6d550aaa89d34c77bd39a5e48,2016-03-25 22:59:23 +0000,http://www.flipkart.com/fabhomedecor-fabric-do...,FabHomeDecor Fabric Double Sofa Bed,"[""Furniture >> Living Room Furniture >> Sofa B...",SBEEH3QGU7MFYJFY,32143,29121,"[""http://img6a.flixcart.com/image/sofa-bed/j/f...",False,FabHomeDecor Fabric Double Sofa Bed (Finish Co...,No rating available,No rating available,FabHomeDecor,"{""product_specification""=>[{""key""=>""Installati..."
2,f449ec65dcbc041b6ae5e6a32717d01b,2016-03-25 22:59:23 +0000,http://www.flipkart.com/aw-bellies/p/itmeh4grg...,AW Bellies,"[""Footwear >> Women's Footwear >> Ballerinas >...",SHOEH4GRSUBJGZXE,991,551,"[""http://img5a.flixcart.com/image/shoe/7/z/z/r...",False,Key Features of AW Bellies Sandals Wedges Heel...,No rating available,No rating available,AW,"{""product_specification""=>[{""key""=>""Ideal For""..."
3,0973b37acd0c664e3de26e97e5571454,2016-03-25 22:59:23 +0000,http://www.flipkart.com/alisha-solid-women-s-c...,Alisha Solid Women's Cycling Shorts,"[""Clothing >> Women's Clothing >> Lingerie, Sl...",SRTEH2F6HUZMQ6SJ,694,325,"[""http://img5a.flixcart.com/image/short/6/2/h/...",False,Key Features of Alisha Solid Women's Cycling S...,No rating available,No rating available,Alisha,"{""product_specification""=>[{""key""=>""Number of ..."
4,bc940ea42ee6bef5ac7cea3fb5cfbee7,2016-03-25 22:59:23 +0000,http://www.flipkart.com/sicons-all-purpose-arn...,Sicons All Purpose Arnica Dog Shampoo,"[""Pet Supplies >> Grooming >> Skin & Coat Care...",PSOEH3ZYDMSYARJ5,208,258,"[""http://img5a.flixcart.com/image/pet-shampoo/...",False,Specifications of Sicons All Purpose Arnica Do...,No rating available,No rating available,Sicons,"{""product_specification""=>[{""key""=>""Pet Type"",..."

In [25]:
amazon_df.shape

(20000, 15)

In [26]:
import math
import re
from collections import Counter

WORD = re.compile(r"\w+")

#Gets cosine similarity for given pair of strings
def get_cosine(text1, text2):
    text1 = text1.lower()
    text2 = text2.lower()
    vec1 = text_to_vector(text1)
    vec2 = text_to_vector(text2)
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])

    sum1 = sum([vec1[x] ** 2 for x in list(vec1.keys())])
    sum2 = sum([vec2[x] ** 2 for x in list(vec2.keys())])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator

#Converts text to vector using count method
def text_to_vector(text):
    words = WORD.findall(text)
    return Counter(words)

In [27]:
def similar_title(title):
    scores = amazon_df["product_name"].apply(lambda x: get_cosine(x,title))
    return amazon_df[scores==scores.max()]

In [28]:
similar_title("FDT Women's Leggings")

,uniq_id,crawl_timestamp,product_url,product_name,product_category_tree,pid,retail_price,discounted_price,image,is_FK_Advantage_product,description,product_rating,overall_rating,brand,product_specifications
28,171e0bcea390c17fd70e3ffa6c2cd187,2016-01-03 20:56:50 +0000,http://www.flipkart.com/fdt-women-s-leggings/p...,FDT WOMEN'S Leggings Pants,"[""Clothing >> Women's Clothing >> Fusion Wear ...",LJGEB2KMCMMHHFC7,698,362,"[""http://img6a.flixcart.com/image/legging-jegg...",False,FDT Women's Leggings Pants - Buy Parrot Green ...,No rating available,No rating available,NaN,"{""product_specification""=>[{""key""=>""Number of ..."